{% extends 'index.html' %}
{% block mainpage %}
    <div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
      <div class="w3-content">
      
        <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">List of Services</h1>
    
        <div id="Pizza" class="w3-container menu w3-padding-32 w3-white">
          <h1><b>Solo photoshoot</b> <button class="w3-button w3-white w3-large w3-opacity w3-hover-opacity-off" style="margin-left: 800px;"><span class="w3-right w3-tag w3-dark-grey w3-round" style="font-size: 30px;">$170</span></button></h1>
          <p class="w3-text-grey">Standart photoshoot for your instagram profile</p>
          <hr>
       
          <h1><b>Wedding memories</b> <button class="w3-button w3-white w3-large w3-opacity w3-hover-opacity-off" style="margin-left: 800px;"><span class="w3-right w3-tag w3-dark-grey w3-round" style="font-size: 30px;">$1500</span></button></h1>
          <p class="w3-text-grey">Typical video + photo escort durin whole day</p>
          <hr>
          
          <h1><b>Baby service</b> <button class="w3-button w3-white w3-large w3-opacity w3-hover-opacity-off" style="margin-left: 800px;"><span class="w3-right w3-tag w3-dark-grey w3-round" style="font-size: 30px;">$500</span></button></h1>
          <p class="w3-text-grey">Careful photoshoot for your children</p>
          <hr>
    
          <h1><b>Photoshop services</b> <button class="w3-button w3-white w3-large w3-opacity w3-hover-opacity-off" style="margin-left: 800px;"><span class="w3-right w3-tag w3-dark-grey w3-round" style="font-size: 30px;">$25</span></button></h1>
          <p class="w3-text-grey">If you want to add some style to photo</p>
        </div>
 {% endblock %}
