{% extends 'index.html' %}

{% block mainpage %}
<div class="contact-container">
    <div class="form-block">
        <div class="header-main"><div class="line-div"></div><h1 style="font-family: 'Raleway', sans-serif; font-size:20px ">Create your order</h1><div class="line-div"></div></div>
        <form class="form-inline justify-content-center" id="createOrder" method="post" data-url="{% url 'order_list' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-box" style="margin-right:25px;">
                   <p style="color: white; font-weight: 600; font-size: 15px">{{ field.name }}</p>
                <div class="mx-3"> {{ field }} </div>
                </div>
            {% endfor %}
            <button type="button" class="btn btn-outline-success" id="createButton">create</button>
        </form>
    </div>

    <div class="order-div" id='order-list' >
        {% for order in orders %}
        <div class="order-card" id='order-card' data-id="{{ order.id }}">
            <div class="order-card-body" >
                <button type="button" class="close float-right"  data-id="{{ order.id }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="upper-card-body">
                <div class="mini-card"><div class="micro-card"><p class="pezda">Title</p></div><div class="micro-content"><p class="big-pezda">{{ order.title }}</p></div></div>
                    <div class="horizontal-line"></div>
                <div class="mini-card" style="width: 38%"><div class="micro-card" style="background-color: #FFA500"><p class="pezda">Price</p></div><div class="micro-content"><p class="big-pezda">{{ order.price }}$</p></div></div>
                </div>
                <div class = "bottom-card-body">
                    <div class="mini-card" style="width: 100%; margin-top: 13px"><div class="micro-card" style="background-color: #4F76AF "><p class="pezda">Description</p></div><div class="micro-content"><p class="big-pezda">{{ order.description }}</p></div></div>
                </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}