{% extends 'index.html' %}
{% block mainpage %}
      <div class="w3-container">
{#        <form>#}
{#      #}
{#          <label for="fname">E-mail</label>#}
{#          <input type="text" id="email" name="email" placeholder="E-mail ( sth@sth.com )">#}
{#      #}
{#          <label for="lname">Password</label>#}
{#          <input type="text" id="pass" name="password" placeholder="Enter valid password ( use upper-lower case etc. )">#}
{##}
{#          <label for="lname">Re-enter password</label>#}
{#          <input type="text" id="passconf" name="passwordconf" placeholder="Re-enter your password">#}
{##}
{#          <input type="submit" value="Submit" class="w3-button" style="background-color: rgb(73, 71, 71);">#}
{#      #}
{#        </form>#}
{#      <form method="post"> {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input type="submit" value="Register"/>#}
{##}
{#        </form>#}
      <h1>Register</h1>
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" />
      </form>
      </div>
{% endblock %}
